*{
    box-sizing:border-box; 
}

#navs{
    display:inline;
    float:left;
    color:black;
}
.naice-uwitonze{
    position:absolute;
    top: 100px;
    left: 16px;
    translate:transform(-50%, -50%);
    font-size:60px;
    color:black;
}
.an-inborn-programmer{
    position:absolute;
    top:60%;
    left:1%;
    translate:transform(-50%, -50%);
    font-size:60px;
    color:black;
}





